Source: surok
Section: admin
Priority: optional
Maintainer: Denis Zheleztsov <difrex.punk@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: https://github.com/Difrex/surok

Package: surok
Architecture: all
Depends: python3-jinja2, python3-dnsq, python3-requests, python3-memcache (>= 1.57)
Description: Service discovery for Apache Mesos clusters
